{% extends "base.html" %} {% block title %}Cart{% endblock title %} 
{% load cart %}
{% load custom_filters %}
{% block content %}

<div class="container">
    <div class="border rounded p-4 m-4">
    <h1 class="display-4 p-4 ,m-4">Your Orders</h1>
    <hr>
    <table class="table">
        <thead>
            <tr >
                <th>Sr.No</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Qty</th>
                <th>Date</th>
                <th>Total </th>
                <th>Status </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr >
                <th> {{forloop.counter}}</th>
                <th> <img style="width:50px;height:50px" class="rounded-circle" src="{{order.product.pro_img.url}}" alt=""></th>
                <th> {{order.product}}</th>
                <th>{{order.price|currency}} </th>
                <th>{{order.qty}}</th>
                <th>{{order.date}}</th>
                <th>{{order.qty|multiply:order.price|currency}}</th>
                {% if order.status %}
                <th><small class='badge bg-success'> Completed</small></th>
                {% else %}
                <th> <small class='badge bg-warning'>Pending</small> </th>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock content %}

