{% extends 'base.html' %}

{% block title %} Sign_Up {% endblock title %}

{% block content %}
    
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5">

            <form action="">
                {% comment %} email {% endcomment %}
            <div class="mb-3">
                <label for="" class="form-label">E-mail</label>
                <input type="text" name="" id="" class="form-control" placeholder="name@example.com" aria-describedby="helpId">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control" placeholder="name@example.com" aria-describedby="helpId">
            </div>

            </form>
        <div>
    <div>

<div>

{% endblock  %}
    